<div class="beer-list-image">
    <div class="beer-list-text">
        <h1 style="font-size: 50px">Beer List!</h2>
        <p>What's on tap tonight?</p>
        <a class="btn btn-primary" href="#">Home</a>
    </div>
</div>

<div>
    <table class="beer-list">
        <tr>
            <th>Name</th>
            <th>Brewer</th>
            <th>Style</th>
            <th>ABV</th>
            <th>IBU</th>
            <th>Rating</th>
        </tr>
        <tr>
          {{#each beers}}
            <td>{{this.dataValues.name}}</td>
            <td>{{this.dataValues.brewer}}</td>
            <td>{{this.dataValues.style}}</td>
            <td>{{this.dataValues.abv}}</td>
            <td>{{this.dataValues.ibu}}</td>
            <td>{{this.dataValues.rating}}</td> 
          {{/each}}  
        </tr>
    </table>
</div>